@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ECF2F8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.grid-box { 
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 164px 165px;
    grid-template-areas:'dani dani jon  kira'
                        'jean pat  pat kira';
    column-gap: 30px;
    row-gap: 26px;                            
}
.g-item1 {
    grid-area: dani;
    background: #733FC8;
    border-radius: 8px;
    width: 540px;
    height: 282px;
}
.g-item2 {
    grid-area: kira;
    background: #FFF;
    border-radius: 8px;
    width: 255px;
    height: 572px;
}
.g-item3 {
    grid-area: jon;
    background: #48556A;
    border-radius: 8px;
    width: 255px;
    height: 282px;
}
.g-item4 {
    grid-area:jean ;
    background: #FFF;
    border-radius: 8px; 
    width: 255px;
    height: 266px;
}
.g-item5 {
    grid-area:pat ;
    background: #19202D;
    border-radius: 8px;
    width: 540px;
    height: 266px;
}
#photos{
    padding: 28px ;
}
.name { 
    margin-top: 32px;
    margin-left: -4px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px; 
}
.graduate {
    color: #FFF;
    margin-left: -4px;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px; 
    opacity: 0.5;
}
.aboutdani {
    display: flex;
    margin-top: -10px;
    
}
#info {
    width: 476px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 32px;
}
.descr {
    width: 476px;
    color: #CFCFCF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; 
    margin-left: 32px;
    margin-top: 16px;
    opacity: 0.7;
}
#photos1 {
    padding: 28px;
    
}
.name1 { 
    margin-top: 28px ;
    margin-left: -4px;
    color: #48556A;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px; 
}
.graduate1 {
    color: #48556A;
    margin-left: -4px;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px; 
    opacity: 0.5;
}
.aboutkira {
    display: flex;
    margin-top: -10px;
}
#info1 {
    width: 191px;
    color: #48556A;
    font-size: 20px;
    font-weight: 600;
    margin-left: 32px;
}
.descr1 {
    width: 191px;
    color: #48556A;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; 
    margin-left: 32px;
    margin-top: 16px;
    opacity: 0.7;
}
#photos2 {
    padding: 28px;
    
}
.name2 { 
    margin-top: 28px ;
    margin-left: -4px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px; 
}
.graduate2 {
    color: #FFF;
    margin-bottom: 30px; 
    font-size: 11px;
    font-weight: 500;
    line-height: 11px; 
    opacity: 0.5;
}
.aboutjon {
    display: flex;
    margin-top: -10px;
}
#info2 {
    width: 191px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 32px;
}
.descr2 {
    width: 191px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; 
    margin-left: 32px;
    margin-top: 16px;
    opacity: 0.7;
}
#photos3 {
    padding: 28px;
    
}
.name3 { 
    margin-top: 28px ;
    margin-left: -4px;
    color: #48556A;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px; 
}
.graduate3 {
    color: #48556A;
    margin-bottom: 30px; 
    font-size: 11px;
    font-weight: 500;
    line-height: 11px; 
    opacity: 0.5;
}
.aboutjean {
    display: flex;
    margin-top: -10px;
}
#info3 {
    width: 191px;
    color: #48556A;
    font-size: 20px;
    font-weight: 600;
    margin-left: 32px;
}
.descr3 {
    width: 191px;
    color: #48556A;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; 
    margin-left: 32px;
    margin-top: 16px;
    opacity: 0.7;
}
#photos4 {
    padding: 28px;
    
}
.name4 { 
    margin-top: 28px ;
    margin-left: -4px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px; 
}
.graduate4 {
    color: #FFF;
    margin-bottom: 30px; 
    font-size: 11px;
    font-weight: 500;
    line-height: 11px; 
    opacity: 0.5;
}
.aboutpat {
    display: flex;
    margin-top: -10px;
}
#info4 {
    width: 476px;
    color: #ECF2F8;
    font-size: 20px;
    font-weight: 600;
    margin-left: 32px;
}
.descr4 {
    width: 476px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500; 
    margin-left: 32px;
    margin-top: 16px;
    opacity: 0.7;
}