@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ECF2F8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.grid-box { 
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 164px 165px;
    grid-template-areas:'dani dani jon  kira'
                        'jean pat  pat kira';
    column-gap: 30px;
    row-gap: 26px;                            
}
.g-item1 {
    grid-area: dani;
    background: #733FC8;
    border-radius: 8px;
    width: 540px;
    height: 282px;
}
.g-item2 {
    grid-area: kira;
    background: #FFF;
    border-radius: 8px;
    width: 255px;
    height: 572px;
}
.g-item3 {
    grid-area: jon;
    background: #48556A;
    border-radius: 8px;
    width: 255px;
    height: 282px;
}
.g-item4 {
    grid-area:jean ;
    background: #FFF;
    border-radius: 8px; 
    width: 255px;
    height: 266px;
}
.g-item5 {
    grid-area:pat ;
    background: #19202D;
    border-radius: 8px;
    width: 540px;
    height: 266px;
}
.avtori {
    display: flex;
    align-items: center;
    column-gap:17px;
}
.photos {
    width: 28px;
    height: 28px;
    margin-top: 26px;
    margin-left: 32px;
}
.saxeli {
    font-weight: 500;
    color: #FFF;
    font-size: 13px;
    line-height: 13px;
    margin-top: 26px;
}
.namecolor {
    color: #48556A;
}
.graduate {
    font-weight: 500;
    line-height: 11px;
    color: #FFF;
    font-size: 11px;
    opacity: 0.5;
}
.graducolor {
    color: #48556A;

}
.info {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    margin-left: 32px;
    margin-right: 32px;
}
.infocolor {
    color: #48556A;
}
.descr {
    color: #CFCFCF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
    width: 191px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-top: 16px;
    margin-right: 32px;
}
.descrcolor {
    color: #48556A;
}
.sigane {
    width: 476px;
}
